.sidemenu {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
  box-shadow: $search-shadow;
  background-color: $side-menu-bg;
}

.sidemenu__branding {
  justify-self: center;
  margin: auto;
}

.sidemenu__menu,
.sidemenu__bottom,
.sidemenu__top {
  display: flex !important;
  width: 25%;
}

.sidemenu__menu {
  display: flex;
}

.sidemenu__bottom {
  justify-content: flex-end;
}

.sidemenu__logo_small_breakpoint {
  display: none;
}

.menu {
  position: fixed;
  display: flex;
  width: 280px;
  max-height: calc(100% - 100px);
  flex-direction: column;
  background: $black;
  box-shadow: $search-shadow;
  z-index: 10000;
  top: 35px;
  left: 0;
  border-radius: 0 3px 3px 0;
  padding: 15px;
}

.menu__item {
  margin-bottom: 20px;
}

.menu__item-link {
  display: flex;
  align-items: center;
  margin: 0 0 5px;
  // background-color: $side-menu-item-hover-bg;
  // padding: 6px;
  border-radius: 5px;
  font-size: $font-size-lg;
}

.menu__item-label {
  padding-left: 5px;
}

.menu__item-children {
  margin-left: 15px;
}

.menu__item-child {
  list-style-type: none;
  margin-bottom: 5px;
  font-size: $font-size-md;
}

.menu__item-child-label {
  padding-left: 5px;
}

// .sidemenu {
//   position: fixed;
//   display: flex;
//   flex-flow: column;
//   flex-direction: column;
//   width: $side-menu-width;
//   z-index: $zindex-sidemenu;
//   a:focus {
//     text-decoration: none;
//   }

//   .sidemenu__logo_small_breakpoint {
//     display: none;
//   }

//   .sidemenu__close {
//     display: none;
//   }
// }

// body class that hides sidemenu
.sidemenu-hidden {
  .sidemenu {
    display: none;
  }
}

// @include media-breakpoint-up(sm) {
//   .sidemenu-open {
//     .sidemenu {
//       background: $side-menu-bg;
//       position: initial;
//       height: auto;
//       box-shadow: $side-menu-shadow;
//       position: relative;
//       z-index: $zindex-sidemenu;
//     }
//     .sidemenu__top,
//     .sidemenu__bottom {
//       display: block;
//     }
//   }
// }

// .sidemenu__top {
//   padding-top: 3rem;
//   flex-grow: 1;
//   display: none;
// }

// .sidemenu__bottom {
//   padding-bottom: $spacer;
//   display: none;
// }

.sidemenu-item {
  position: relative;
  // @include left-brand-border();

  @include media-breakpoint-up(sm) {
    &.active,
    &:hover {
      background-color: $side-menu-item-hover-bg;
      // @include left-brand-border-gradient();

      .dropdown-menu {
        margin: 0;
        display: block;
        opacity: 0;
        // top: 0px;
        // important to overlap it otherwise it can be hidden
        // again by the mouse getting outside the hover space
        left: $side-menu-width - 2px;
        left: 0;
        @include animation('dropdown-anim 0ms ease-in-out 0ms forwards');
        z-index: $zindex-sidemenu;

        &.dropdown-menu--right {
          left: unset;
          right: 0;
        }
      }
    }
  }
}

.dropup.sidemenu-item:hover .dropdown-menu {
  top: auto !important;
}

.sidemenu-link {
  color: $link-color;
  line-height: 35px;
  padding: 0px 5px 0px 5px;
  display: block;
  position: relative;
  font-size: 16px;
  border: 1px solid transparent;
  text-align: center;

  img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    box-shadow: 0 0 14px 2px rgba(255, 255, 255, 0.05);
  }
}

@include keyframes(dropdown-anim) {
  0% {
    opacity: 0;
    //transform: translate3d(-5%,0,0);
  }
  100% {
    opacity: 1;
    //transform: translate3d(0,0,0);
  }
}

.icon-circle {
  width: 35px;
  height: 35px;
  display: inline-block;

  .fa,
  .icon-gf,
  .gicon {
    color: $side-menu-link-color;
    position: relative;
    opacity: 0.7;
    font-size: 130%;
    height: 22px;
    width: 22px;
  }

  .fa {
    top: 2px;
    position: relative;
  }

  .icon-gf {
    top: 5px;
  }

  img {
    position: relative;
  }
}

.side-menu-header {
  padding: 10px 10px 10px 20px;
  white-space: nowrap;
  background-color: $side-menu-item-hover-bg;
  font-size: 17px;
  color: #ebedf2;
}

.sidemenu-subtitle {
  padding: 0.5rem 1rem 0.5rem;
  font-size: $font-size-sm;
  color: $text-color-weak;
  border-top: 1px solid $dropdownDividerBottom;
  margin-top: 0.25rem;
  white-space: nowrap;
}

li.sidemenu-org-switcher {
  border-bottom: 1px solid $dropdownDividerBottom;
}

.sidemenu-org-switcher__org-name {
  font-size: $font-size-base;
}

.sidemenu-org-switcher__org-current {
  font-size: $font-size-xs;
  color: $text-color-weak;
  position: relative;
  top: -2px;
}

.sidemenu-org-switcher__switch {
  font-size: $font-size-sm;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  > i.fa.fa-random {
    margin-right: 4px;
    top: 1px;
  }
}

.sidemenu__logo {
  display: block;
  // padding: 0.4rem 1rem 0.4rem 0.65rem;
  margin-left: -0.65rem; // Sync with left padding, so the logo aligns with the content
  min-height: $navbarHeight;
  position: relative;
  height: $navbarHeight - 1px;
  display: flex;

  &:hover {
    background: $navbarButtonBackgroundHighlight;
  }

  img {
    width: 30px;
    position: relative;
  }
}

@include media-breakpoint-down(xs) {
  .sidemenu-open--xs {
    li {
      font-size: $font-size-lg;
    }

    .sidemenu {
      width: 100%;
      background: $side-menu-bg-mobile;
      position: initial;
      height: auto;
      box-shadow: $side-menu-shadow;
      position: relative;
      z-index: $zindex-sidemenu;
    }

    .sidemenu__close {
      display: block;
      font-size: $font-size-md;
      position: relative;
      top: -3px;
    }

    .sidemenu__top,
    .sidemenu__bottom {
      display: block;
    }
    .sidemenu-item {
      border-right: 2px solid transparent;
    }
  }

  .sidemenu {
    .sidemenu__logo {
      display: none;
    }

    .sidemenu__logo_small_breakpoint {
      padding: 16px 10px 26px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      .fa-bars {
        font-size: 25px;
      }
    }

    .sidemenu__top {
      padding-top: 0rem;
    }

    .side-menu-header {
      padding-left: 10px;
    }

    .sidemenu-link {
      text-align: left;
    }

    .sidemenu-icon {
      display: none;
    }

    .dropdown-menu--sidemenu {
      display: block;
      position: unset;
      width: 100%;
      float: none;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      > li > a {
        padding-left: 15px;
      }
    }

    .sidemenu__bottom {
      .dropdown-menu--sidemenu {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
